body
{
    background-color:#7799bb !important;
}

.level
{
    margin:20px;
    width:80px;
    height:80px;
    background-color:#dd4400;/*#00ff90;*/
    text-align:center;
    font-size:20px;
    display:inline-block;
    cursor:pointer;
}

#container
{
    position: absolute;
    /*top: 25%;*/
    top:140px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo{
    width:55px;
}

#logo-div
{
    position:absolute;
    left:50%;
    top:90%;
    transform: translate(-50%, -50%);
}

.wrap {
  bottom: 250px;
  margin-left: -50px;
  position: absolute;
  width: 100px;
  left:50%;
}

.ball,
.shadow {
  border-radius: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.ball {
  animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  height: 50px;
  width: 50px;
}


.red .ball  {background:linear-gradient(rgb(239, 107, 49), #dd4400)} /*{ background: linear-gradient(#e55, #b00); }*/

.shadow {
  animation: shadow 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  background: #000;
  bottom: -90px;
  height: 25px;
  width: 75px;
}

.red .ball, 
.red .shadow   { animation-delay: -200ms; }

@keyframes ball {
  0% {
    transform: translateY( 0 );
  }
  100% {
    transform: translateY( -150px );
  }
}

@keyframes shadow {
  0% {
    opacity: 0.2;
    transform: scale( 0.75 );
  }
  100% {
    opacity: 0.05;
    transform: scale( 1 );
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}*/

#container {
  display: none;
  text-align: center;
}